# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .flutter-plugins file contains a list of plugins used in the project.
.flutter-plugins
.flutter-plugins-dependencies

# Symbolized Crashlytics upload symbols
symbols/**

# Web related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/generated/
**/android/app/debug/
**/android/app/release/
**/android/app/profile/
**/android/app/src/main/res/raw/
**/android/app/src/main/res/values/strings.xml

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
